.bar {
	position: absolute;
	width: 154;
	height: 15;
}
.small-image {
	position: absolute;
	width: auto;
	height: 22;
	border: 0;
}
.stack-background {
	background-image: url("../images/arrow.png");
	background-size: cover;
	position: relative;
	image-rendering: pixelated;
	float: left;
}
.ability-row {
	position: relative;
	clear: both;
}
.ability-container {
	position: relative;
	float: left;
}
.ability-image {
	position: relative ;
	image-rendering: pixelated;
}
.icon-active {
	position: absolute;
	image-rendering: pixelated;
	left: 0;
	top: 0;
}
.icon-overlay {
	position: absolute;
	image-rendering: pixelated;
	left: 0;
	top: 0;
}
.hide-in-combat {
	visibility: hidden;
}
.stack-hidden {
	visibility: hidden;
}
.stack-color {
	filter: var(--stacksColor);
}
.ability-text {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
}
.text-duration {
	color: var(--durationColor);
	font-size: var(--durationFontSize);
	font-family: Arial, Times, serif;
	font-weight: bold;
	-webkit-text-stroke: 1.5px var(--durationOutline);
}
.text-cooldown {
	color: var(--cooldownColor);
	font-size: var(--cooldownFontSize);
	font-family: Arial, Times, serif;
	font-weight: bold;
	-webkit-text-stroke: 1.5px var(--cooldownOutline);
}
#grid {
	position: absolute; 
	left: 0px; 
	top: 0px;
	z-index: -1;
}
#dot-image {
	display: none;
}
#buff-image {
	display: none;
}
#dot-timer-bar {
	left: 0px; 
	top: 100px;
	display: none;
}
#buff-timer-bar {
	left: 0px;
	top: 116px;
	display: none;
}
#stacks-bar {
	left: 0px; 
	top: 170px;
}
#timer-bar {
	left: 0px; 
	top: 200px;
	display: none;
}
#health-bar {
	left: 0px;
	top: 216px;
}
#mana-bar {
	left: 0px; 
	top: 232px;
}
#raid-buffs-bar {
	left: 0px; 
	top: 248;
	display: none;
}
#health-bar::-webkit-progress-value {
	filter: var(--healthBarColor);
}
#health-bar:after {
	font-size: var(--healthFontSize);
	left: var(--healthFontX);
	top: var(--healthFontY);
}
#mana-bar::-webkit-progress-value {
	filter: var(--manaBarColor);
}
#mana-bar:after {
	font-size: var(--manaFontSize);
	left: var(--manaFontX);
	top: var(--manaFontY);
}
#timer-bar::-webkit-progress-value {
	filter: var(--pulltimerBarColor);
}
#timer-bar:after {
	font-size: var(--timerFontSize);
	left: var(--timerFontX);
	top: var(--timerFontY);
}
.dot-font-size:after {
	font-size: var(--dotFontSize);
	left: var(--dotFontX);
	top: var(--dotFontY);
}
.buff-font-size:after {
	font-size: var(--buffFontSize);
	left: var(--buffFontX);
	top: var(--buffFontY);
}
progress[value] {	
	-webkit-appearance: none;
}
.styled-bar::-webkit-progress-bar {
	background: rgba(0,0,0,0);
	background-image: url("../images/bar.png");
	background-size: cover;
	image-rendering: pixelated;
}
.styled-bar::-webkit-progress-value {
	background: rgba(0,0,0,0);	
	background-image: url("../images/fill.png");
	background-size: cover;
	image-rendering: pixelated;
}
progress:after {
	position: relative;
	font-family: Arial, Times, serif;
	font-weight: bold;
	color: white;
	content: attr(data-label);
	z-index: 10;
}