.stack-background {
	background-image: url("../images/arrow.png");
}
.styled-bar::-webkit-progress-bar {
	background: rgba(0,0,0,0);
	background-image: url("../images/bar.png");
}
.styled-bar::-webkit-progress-value {
	background-image: url("../images/fill.png");
}