#grid {
	position: absolute; 
	left: 0px; 
	top: 0px;
	z-index: -1;
}
.bar {
	position: absolute;
	width: 154;
	height: 15;
}
.small-image {
	position: absolute;
	width: auto;
	height: 22;
	border: 0;
}
#dot-image {
	display: none;
}
#buff-image {
	display: none;
}
#dot-timer-bar {
	left: 0px; 
	top: 100px;
	display: none;
}
#buff-timer-bar {
	left: 0px;
	top: 116px;
	display: none;
}
#timer-bar {
	left: 0px; 
	top: 200px;
	display: none;
}
#health-bar {
	left: 0px;
	top: 216px;
}
#mana-bar {
	left: 0px; 
	top: 232px;
}
#health-bar::-webkit-progress-value {
	filter: var(--healthBarColor);
}
#health-bar:after {
	font-size: var(--healthFontSize);
	left: var(--healthFontX);
	top: var(--healthFontY);
}
#mana-bar::-webkit-progress-value {
	filter: var(--manaBarColor);
}
#mana-bar:after {
	font-size: var(--manaFontSize);
	left: var(--manaFontX);
	top: var(--manaFontY);
}
#timer-bar::-webkit-progress-value {
	filter: var(--pulltimerBarColor);
}
#timer-bar:after {
	font-size: var(--timerFontSize);
	left: var(--timerFontX);
	top: var(--timerFontY);
}
.dot-font-size:after {
	font-size: var(--dotFontSize);
	left: var(--dotFontX);
	top: var(--dotFontY);
}
.buff-font-size:after {
	font-size: var(--buffFontSize);
	left: var(--buffFontX);
	top: var(--buffFontY);
}
progress[value] {	
	-webkit-appearance: none;
}
progress[value]::-webkit-progress-bar {
	background: rgba(0,0,0,0);
	background-image: url("../images/bar.png");
	background-repeat: no-repeat;
	background-size: cover;
	image-rendering: pixelated;
}
progress[value]::-webkit-progress-value {
	background: rgba(0,0,0,0);	
	background-image: url("../images/fill.png");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	image-rendering: pixelated;
}
progress:after {
	position: relative;
	font-family: Arial, Times, serif;
	font-weight: bold;
	color: white;
	content: attr(data-label);
	z-index: 10;
}