body {
    overflow: hidden;
}
#lock-overlay-reminder {
    position: absolute;
    width: 600px;
    font-family: Arial, Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    z-index: 100;
    -webkit-text-stroke: 2px black;
}
