* {
	font-family: var(--defaultFont);
}

.bar {
	position: absolute;
	width: 154px;
	height: 15px;
}
.rtl {
	direction: rtl;
}
.hide-in-combat {
	visibility: hidden;
}
.stack-hidden {
	visibility: hidden;
}
.stack-color {
	filter: var(--stacksColor);
}
.small-image {
	position: absolute;
	width: auto;
	height: 22px;
	border: 0px;
}
.ability-row {
	display: block;
}
.ability-box {
	display: flex;
}
.ability-container {
	position: relative;
}
.ability-image, .icon-active, .icon-overlay {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.ability-text {
	position: absolute;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	text-align: center;
}
.text-duration {
	color: var(--durationColor);
	font-size: var(--durationFontSize);
	font-weight: bold;
	-webkit-text-stroke: 1.5px var(--durationOutline);
}
.text-cooldown {
	color: var(--cooldownColor);
	font-size: var(--cooldownFontSize);
	font-weight: bold;
	-webkit-text-stroke: 1.5px var(--cooldownOutline);
}
#grid {
	position: absolute; 
	left: 0px; 
	top: 0px;
	z-index: -1;
}
#dot-image {
	display: none;
}
#buff-image {
	display: none;
}
#dot-timer-bar {
	left: 0px; 
	top: 100px;
	display: none;
	touch-action: none;
}
#buff-timer-bar {
	left: 0px;
	top: 116px;
	display: none;
	touch-action: none;
}
#stacks-bar {
	position: absolute;
	left: 0px; 
	top: 170px;
	touch-action: none;
}
#timer-bar {
	left: 0px; 
	top: 200px;
	display: none;
	touch-action: none;
}
#health-bar {
	left: 0px;
	top: 216px;
	touch-action: none;
}
#mana-bar {
	left: 0px; 
	top: 232px;
	touch-action: none;
}
#raid-buffs-bar {
	left: 0px; 
	top: 248;
	display: none;
	touch-action: none;
}
#mitigation-bar {
	left: 0px; 
	top: 264;
	display: none;
	touch-action: none;
}
#health-bar::-webkit-progress-value {
	filter: var(--healthBarColor);
}
#health-bar:after {
	font-size: var(--healthFontSize);
	font-family: var(--healthFont);
	left: var(--healthFontX);
	top: var(--healthFontY);
}
#mana-bar::-webkit-progress-value {
	filter: var(--manaBarColor);
}
#mana-bar:after {
	font-size: var(--manaFontSize);
	font-family: var(--manaFont);
	left: var(--manaFontX);
	top: var(--manaFontY);
}
#timer-bar::-webkit-progress-value {
	filter: var(--pulltimerBarColor);
}
#timer-bar:after {
	font-size: var(--timerFontSize);
	font-family: var(--timerFont);
	left: var(--timerFontX);
	top: var(--timerFontY);
}
.dot-font-size:after {
	font-size: var(--dotFontSize);
	font-family: var(--dotFont);
	left: var(--dotFontX);
	top: var(--dotFontY);
}
.buff-font-size:after {
	font-size: var(--buffFontSize);
	font-family: var(--buffFont);
	left: var(--buffFontX);
	top: var(--buffFontY);
}
progress[value] {	
	-webkit-appearance: none;
}
progress:after {
	position: relative;
	font-family: Arial, Times, serif;
	font-weight: bold;
	color: white;
	content: attr(data-label);
	z-index: 10;
}