#healthExample::-webkit-progress-value {
    filter: var(--healthColor);
}
#manaExample::-webkit-progress-value {
    filter: var(--manaColor);
}
#mptickerExample::-webkit-progress-value {
    filter: var(--mptickerColor);
}
#pulltimerExample::-webkit-progress-value {
    filter: var(--pulltimerColor);
}
.job-disabled {
    opacity: 0.3;
}
body {
    padding-top: 56px;
}
.full-screen {
    height: calc(100vh - 56px) !important;
}
.anchor {
    padding-top: 80px;
    margin-top: -80px;
}
