#healthExample::-webkit-progress-value {
    filter: var(--healthColor);
}
#manaExample::-webkit-progress-value {
    filter: var(--manaColor);
}
#mptickerExample::-webkit-progress-value {
    filter: var(--mptickerColor);
}
#pulltimerExample::-webkit-progress-value {
    filter: var(--pulltimerColor);
}
.job-disabled {
    opacity: 0.3;
}